@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
nav{
    background: #151229;
    height: 60px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
nav:hover::after
{
content: "";
position: absolute;
height: 80px;
width: 550px;
background: #27214f;
z-index: -1;
border-radius: 10px;
box-shadow: 2px 4px 10px blue;
animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}


nav a{
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0px 23px;
    z-index: 1;
   
}
nav span{
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
    height: 60px;
    width: 90px;
    background: orangered;
   border-radius: 10px;
   cursor: pointer;
}
nav a:nth-child(1):hover ~ span{
    left: 0;
}
nav a:nth-child(2):hover ~ span{
    left: 100px;
}
nav a:nth-child(3):hover ~ span{
    left: 215px;
}
nav a:nth-child(4):hover ~ span{
    left: 325px;
}
nav a:nth-child(5):hover ~ span{
    left: 425px;
}